.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 15px 30px 0 rgba(57, 171, 0, 0.436);
    border-radius: 20px;
    position: relative;
}
  
.form-name {
    font-size: 28px;
    color: rgba(57, 171, 0, 0.436);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
  
.form-name::before,.form-name::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: rgba(57, 171, 0, 0.436);
}
  
.form-name::before {
    width: 18px;
    height: 18px;
    background-color: rgba(57, 171, 0, 0.436);
}
  
.form-name::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}
  
.signin {
    display:flex;

    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}

.form-check {
    margin-right: 10px;
}
  
  
.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}
  
.form label {
    position: relative;
}
  
.form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: rgb(112, 111, 111);
  }
  
  .form-btn {
    border: none;
    outline: none;
    background-color: rgba(57, 171, 0, 0.436);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .form-btn:hover {
    background-color: rgba(68, 165, 19, 0.941);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }