.nav-brand {
    color: #3e9641;
    font-size: xx-large;
    font-weight: 800;
    padding: 30px;
}

.nav-links {
    color: #3e9641;
    font-size: larger;
    font-weight: 500;
    margin-right: 20px;
}

.nav-links:hover {
    color:rgb(49, 212, 34) 
}






